.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container-main {
    justify-content: space-around;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-main-userNotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container-main-pageIsInitial {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container-main-repositoryEmpty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


