.photo{
    position: absolute;
    width: 280px;
    height: 280px;
    left: 57px;
    top: 111px;
}

.name{
    position: absolute;
    height: 34px;
    left: 4.1%;
    right: 83.45%;
    top: calc(50% - 34px/2 + 53px);
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    /* identical to box height, or 34px */
    
    
    /* Black */
    
    color: #000000;
}

.login{
    position: absolute;
    height: 28.74px;
    left: 4.1%;
    right: 90%;
    top: calc(50% - 28.74px/2 + 96.37px);
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #0064EB;
}

.title{
    position: absolute;
    height: 42px;
    left: 31.84%;
    right: 47%;
    top: calc(50% - 42px/2 - 263px);

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    /* identical to box height, or 42px */


    /* Black */

    color: #000000;
}

.followers{
    position: absolute;
    left: 6.44%;
    right: 85.14%;
    top: 67.71%;
    bottom: 29.17%;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* Black */

    color: #000000;
}

.following{
    position: absolute;
    left: 18.38%;
    right: 74.52%;
    top: 67.71%;
    bottom: 29.17%;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    
    /* Black */
    
    color: #000000;
}

.input{
    position: static;
    height: 24px;
    left: 6.36%;
    right: 39.41%;
    top: calc(50% - 24px/2);

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #000000;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 6px;
}

.gl{
    position: absolute;
    left: 20.83%;
    right: 20.83%;
    top: 20.83%;
    bottom: 20.83%;

    background: #808080;
}